.big_alert_yellow {
    background-color:#ffd73d;
    position:relative;
    border-radius:10px 10px 10px 10px;
    overflow:hidden;
    padding-top:4.6%!important;
    padding-right:8%!important;
    padding-bottom:4.6%!important;
    padding-left:8%!important;
    font-size: 1.4em;
}
