#main_template_class {
    min-height: 100vh;
}

#footer_id ul{
     list-style: none;
}

#footer_id a{
    color: white;
}


#top_nav_main {
    list-style: none;
    background-color: #333333!important;
}

.middle_background_color {
    background-color: #333333!important;
}

.navbar {
    background-color: #333333!important;
}

.top-nav a{
    color: white!important;
}

#navbarNav a{
    font-family: 'Open Sans', sans-serif!important;
    font-size: 2em;
}

#navbarNav h1 {
    color: white;
    margin-top: .3em;
}

.copyright_text {
    color: white;
}

.opsomming {
    list-style: none;
}

.opsomming li {
    margin-bottom: 1.5em;
}
